## Description

{{ project.project_overview }}

{% if project.awards %}

## Awards

{%- for award in project.awards %}
* {{ award.name }}
{% endfor %}
{% endif %}


{% if project.students %}
## Students
{% for student in project.students %}
* {{ student.name }}
{% endfor %}
{% endif %}

{%- if project.advisors -%}
## Advisors
{% for advisor in project.advisors %}
* [{{ advisor.name }}](../../../author/{{ advisor.url_name }})
{% endfor %}
{%- endif -%}

{% if project.skill_required %}
## Skills Required by the team

{% for skill in project.skill_required %}
* {{ skill.name }}
{%- endfor -%}
{%- endif -%}
